Repository aquaproj/aqua, pull requests merged in 2025-03, with the labels that each got.

#3649 feat: generate checksum cosign config
  pkg/controller/generate-registry/generate.go
  pkg/controller/generate-registry/group.go
Labels: enhancement

#3657 feat(generate-registry): convert version to SemVer
  pkg/controller/generate-registry/generate.go
  pkg/controller/generate-registry/group.go
Labels: enhancement, command:generate-registry

#3663 feat(cosign): include version in generated cert id regexp
  pkg/controller/generate-registry/generate.go
Labels: command:generate-registry

#3664 feat: generate cosign config for releases with a pubkey
  pkg/controller/generate-registry/generate.go
Labels: enhancement, command:generate-registry

#3675 fix: set AssetWithoutExt
  pkg/config/package.go
Labels: bug

#3684 chore: Migrate golangci-lint to v2
  .github/workflows/debug-with-action-tmate.yaml
  .golangci.yml
  aqua/aqua-checksums.json
  aqua/imports/golangci-lint.yaml
  pkg/asset/generate.go
  pkg/controller/wire.go
Labels: migrate-golangci-lint-to-v2

#3689 fix(generate-registry): exclude the last element of version_overrides from sort
  pkg/controller/generate-registry/group.go
  pkg/controller/generate-registry/group_internal_test.go
Labels: bug, command:generate-registry

#3693 ci: Replace autofix-ci/action with suzuki-shunsuke/autofix-ci-action
  .github/workflows/autofix.yaml
Labels: replace-autofix-ci-action

#3695 ci: Update suzuki-shunsuke/go-autofix-action
  .github/workflows/autofix.yaml
Labels: update-suzuki-shunsuke-autofixci-action
